[BASIC]
good-names=
    i,
    e,
    id,
    fn,
    op,
    logger,

[MESSAGES CONTROL]
disable=missing-docstring,
        unused-argument,
        duplicate-code,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-return-statements,
        fixme

[MISCELLANEOUS]
notes=FIXME,
      TODO

[FORMAT]
max-line-length=100
max-module-lines=1000

[DESIGN]
max-args=5
